<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <style>
        .layer1 {
            background: #004f8b; /* Цвет фона */
            color: white; /* Цвет текста */
            padding: 10px; /* Поля вокруг текста */
            margin-bottom: 17px; /* Отступ снизу */
        }
    </style>
    <style>
        .layer2 {
            margin-bottom: 17px; /* Отступ снизу */
        }
    </style>
</head>

<body>
<h4 class="layer1">
    Hello, visitor! Log in to start buying.
</h4>
<form action="/login" method="post" class="layer2">
    <input type="text" name="login" placeholder="Input login here">
    <input type="submit" value="Log in">
</form>
<table>
    <link href="css/product_style.css" rel="stylesheet">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>