<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <style>
        .layer1 {
            background: #004f8b; /* Цвет фона */
            color: white; /* Цвет текста */
            padding: 10px; /* Поля вокруг текста */
            margin-bottom: 17px; /* Отступ снизу */
        }
    </style>
</head>

<body>
<div class="layer1">
    <strong>Buyer: <span th:text="${login}"></span></strong>
</div>
<table>
    <link href="css/product_style.css" rel="stylesheet">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>